<h1>Listing superheros</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @superheros.each do |superhero| %>
  <tr>
    <td><%= superhero.name %></td>
    <td><%= link_to 'Show', superhero %></td>
    <td><%= link_to 'Edit', edit_superhero_path(superhero) %></td>
    <td><%= link_to 'Destroy', superhero, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Superhero', new_superhero_path %>
